.text-gradient {
    background: linear-gradient(to right, #9f7aea, #f687b3, #fc8181);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.popover-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
  left: 50%;
  transform: translateX(-50%);
}
.dark .popover-arrow {
  border-top-color: #2d3748; /* dark:bg-gray-800 */
}

textarea:focus {
  outline: none;
  border-color: transparent; /* Custom border color on focus */
  box-shadow: 0 0 0 1px #a0aec0; /* Custom shadow color on focus */
}

.popover-content {
  max-height: 80vh; /* Adjust the height as needed */
  overflow-y: auto;
  padding: 1rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popover-header, .popover-body {
  margin-bottom: 1rem;
}

.popover-header {
  font-size: 1.25rem;
  font-weight: bold;
}

.popover-body {
  font-size: 1rem;
}
